<nav class="nav" tabindex="-1" onclick="this.focus()">
    <div class="container">
        <a class="pagename current" href="{{site.root}}index.html">{{ site.title }}</a>
        {{#each site.menu }}
        <a href="{{#if this.link }}{{site.root}}{{this.link}}{{else}}#{{/if}}">{{capitalize this.name}}</a>
        {{/each}}
    </div> 
</nav> 
<button class="btn-close btn btn-sm">×</button>