{{> head bodyClass="setlist" }}
    {{> nav }}  
    <div class="container">
        <div class="row">
            <div class="col c4">
                <h3>{{this.title}}</h3>
                <p>{{this.description}}</p> 
                <ul>
                {{#each this.poetry }}
                    <li><a href="{{../site.root}}poetry/{{lookup (lookup @root.dynamic.poetry @index) 'slug' }}.html">{{lookup (lookup @root.dynamic.poetry @index) 'title'}}</li> 
                {{/each}} 
                </ul>
            </div>
        </div> 
    </div>
{{> foot }}  